@page "/Recipes"

<h1>Recipes</h1>

<form class="my-3">
    <input class="form-control w-25 mb-1" type="search" placeholder="Search recipes" aria-label="Search">
    <div class="mb-1">
        <b>Filter by category:</b><br />
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<RecipeListView></RecipeListView>

@code {

}