@page "/Recipes"

<h1>Recipes</h1>

<form class="my-3">
    <input class="form-control w-25 mb-1" type="search" placeholder="Search recipes" aria-label="Search">
    <div class="mb-1">
        <b>Filter by category:</b><br />
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="list-group">
    @for (var i = 1; i < 8; i++)
    {
        <RecipeCard Id=@i></RecipeCard>
    }
</div>

@code {

}