@page "/Recipe/{recipeId}"


<h1>Recipe Title 
    <CascadingValue Value="@RecipeId">
        <RatingAvgCalculated></RatingAvgCalculated> 
    </CascadingValue>
</h1>

<RateRecipeComponent></RateRecipeComponent>
<br>
<br>
<h2>Directions</h2>

<p>
    This is a recipe which describes how to make some food, here's what you need to do to make the food that this recipe describes:
</p>

<ol>
    <li>The first step in the recipe</li>
    <li>The second step in the recipe</li>
    <li>The third step in the recipe</li>
</ol>

<h2>Ingredients</h2>
<ul class="list-group list-group-flush mb-4">
    @for (var i = 0; i < 10; i++)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Ingredient #@i
            <span class="text-black-50">@i @(i % 2 == 0 ? "cups" : "g")</span>
            <span class="badge badge-primary badge-pill">@(i % 2 == 0 ? "Rare" : "Common")</span>
            <AddButton></AddButton>
        </li>
    }
</ul>

<h2>Nutrition</h2>

<p>
    <b>Calories:</b> 100<br/>
    <b>Carbohydrates:</b> 100<br/>
    <b>Protein:</b> 100<br/>
    <b>Sodium:</b> 100<br/>
    <b>Fat:</b> 100<br/>
    <b>Cholesterol:</b> 100<br/>
</p>

@code {

    [Parameter]
    public string RecipeId { get; set; } = "default value";

}