@using RecipEase.Client.Shared.Util
@using RecipEase.Shared.Models.Api
@inject HttpClient Http

<h2>Collections</h2>

@if (_collections != null)
{
    foreach (var collection in _collections)
    {
        <CollectionView Collection="@collection"></CollectionView>
    }
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private List<ApiRecipeCollection> _collections;

    protected override async Task OnInitializedAsync()
    {
        var userId = await Auth.GetAuthenticatedUser(AuthenticationStateTask);
        if (userId != null)
        {
            var uriBuilder = new UriBuilder(Http.BaseAddress)
            {
                Path = "api/RecipeCollection",
                Query = $"userId={userId}"
            };

            _collections = await Http.GetFromJsonAsync<List<ApiRecipeCollection>>(uriBuilder.ToString());
        }
    }

}