@using RecipEase.Client.Shared.Util
@using RecipEase.Shared.Models.Api
@inject HttpClient Http

<h2>Collections</h2>

@if (_collections != null)
{
    foreach (var collection in _collections)
    {
        <CollectionView Collection="@collection" OnDelete="@OnCollectionDelete"></CollectionView>
    }
}

@code {

    private const string Endpoint = "api/RecipeCollection";

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private List<ApiRecipeCollection> _collections;

    protected override async Task OnInitializedAsync()
    {
        var userId = await Auth.GetAuthenticatedUser(AuthenticationStateTask);
        if (userId != null)
        {
            var uriBuilder = new UriBuilder(Http.BaseAddress)
            {
                Path = Endpoint,
                Query = $"userId={userId}"
            };

            _collections = await Http.GetFromJsonAsync<List<ApiRecipeCollection>>(uriBuilder.ToString());
        }
    }

    private async Task OnCollectionDelete(ApiRecipeCollection collection)
    {
        var uriBuilder = new UriBuilder(Http.BaseAddress)
        {
            Path = Endpoint,
            Query = $"title={collection.Title}"
        };

        var response = await Http.DeleteAsync(uriBuilder.ToString());
        if (response.IsSuccessStatusCode)
        {
            _collections.Remove(collection);
            StateHasChanged();
        }
    }

}