@using RecipEase.Client.Shared.Util

<h2>Your Recipes</h2>
<a class="btn btn-success my-4" href="/CreateRecipe">+ Create Recipe</a>
<RecipeListViewAllowEdit UserId="@UserId">
</RecipeListViewAllowEdit>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserId = await Auth.GetAuthenticatedUser(AuthenticationStateTask);
    }

}