<h2>Account Info</h2>

<form class="w-50">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Your name" value="John Brown">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Your age" value="32">
    </div>
    <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" placeholder="Your weight" value="160">
    </div>
    <div class="form-group">
        <label for="meal">Favourite meal</label>
        <select class="form-control" id="meal">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </div>
    <p>Want to change your email or password, or delete your account? <a href="/Identity/Account/Manage">Click here</a>.</p>
</form>

@code {
    
}