@using RecipEase.Shared.Models
@using RecipEase.Shared.Models.Api
@using Meal = RecipEase.Shared.Models.Api.Meal
@inject HttpClient Http

<h2>Account Info</h2>

<EditForm
    Model="@_customer"
    OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label for="name">Name</label>
        <InputText
            id="name" class="form-control"
            @bind-Value="_customer.CustomerName"/>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <InputNumber
            id="age" class="form-control"
            @bind-Value="_customer.Age"/>
    </div>
    <div class="form-group">
        <label for="weight">Weight</label>
        <InputNumber
            id="weight" class="form-control"
            @bind-Value="_customer.Weight"/>
    </div>
    <div class="form-group">
        <label for="meal">Favourite meal</label>
        <InputSelect id="meal" class="form-control" @bind-Value="_customer.FavMeal">
            @foreach (var meal in Enum.GetValues(typeof(Meal)))
            {
                <option value="@meal">@meal</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </div>
    <p>Want to change your email or password, or delete your account? <a href="/Identity/Account/Manage">Click here</a>.</p>

</EditForm>

@code {
    private ApiCustomer _customer = new() {CustomerName = "John", Age = 32, Weight = 160, FavMeal = Meal.Breakfast};

    private async Task HandleValidSubmit()
    {
    }

}