@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <button class="nav-link btn btn-link btn-outline-dark" @onclick="BeginSignOut">Log out</button>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a
                class="nav-link text-dark"
                href="authentication/register">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link text-dark"
                href="authentication/login">
                Log in
            </a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

}