@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a
                class="navbar-brand"
                href="/">
                RecipEase
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContentn
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse"
                 id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a
                            class="nav-link text-dark"
                            href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-dark"
                            href="/Recipes">
                            Recipes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-dark"
                            href="/Profile">
                            Profile
                        </a>
                    </li>
                    <LoginDisplay></LoginDisplay>
                </ul>
            </div>
        </div>
    </nav>
</header>
<style>
    #app {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #app-container {
        flex-grow: 1;
    }
</style>
<div class="container" id="app-container">
    <main
        role="main"
        class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container py-3">
        &copy; 2021 - RecipEase
    </div>
</footer>