<h2>Account Info</h2>

<form class="w-50">
    <div class="form-group">
        <label for="name">Business Name</label>
        <input type="text" class="form-control" id="name" placeholder="Your business name" value="A Store">
    </div>
    <div class="form-group">
        <label for="email">Contact Email</label>
        <input type="email" class="form-control" id="email" placeholder="Your contact email" value="astore@@astore.com">
    </div>
    <div class="form-group">
        <label for="phone">Contact Phone</label>
        <input type="tel" class="form-control" id="phone" placeholder="Your contact phone" value="444-444-4444">
    </div>
    <div class="form-group">
        <label for="website">Your website</label>
        <input type="url" class="form-control" id="website" placeholder="Your website" value="https://astore.com">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </div>
    <p>Want to change your account email or password, or delete your account? <a href="/Identity/Account/Manage">Click here</a>.</p>
</form>

@code {
    
}